@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "base";
}

@layer utilities {
  .has-transition {
    transition-property: all;
    transition-duration: 400ms;
    transition-timing-function: ease;
  }
  .link-stretched::after {
    @apply absolute top-0 right-0 bottom-0 left-0 z-[1] content-[""];
  }
  .no-scrollbar {
    &::-webkit-scrollbar {
      width: 0;
    }
  }
}

@layer components {
  @import "components";
  @import "components/button";
  @import "components/post";
}